{
  "presets": ["latest", "stage-0", "es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".md"],
      "alias": {
        "readme": "./readme.md",
      }
    }]
  ]
}
